<div class="carousel-wrapper">
  <swiper-container
    class="main-swiper"
    navigation="true"
    pagination='{"clickable": true}'
    autoplay='{"delay": 4000, "disableOnInteraction": false}'
    loop="true"
    effect="fade"
    slides-per-view="1"
    speed="600"
  >
    @for (image of images; track image.src) {
      <swiper-slide>
        <div class="slide-container">
          <img [src]="image.src" [alt]="image.alt" class="slide-image" />
          @if (image.caption) {
            <div class="slide-caption">
              <p>{{ image.caption }}</p>
            </div>
          }
        </div>
      </swiper-slide>
    }
  </swiper-container>
</div>
