# Angular
/.angular/cache
/src/**/*.ngfactory.ts
/src/**/*.ngstyle.ts
/src/**/*.shim.ngstyle.ts

# Node
/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock

# IDEs
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.sublime-workspace

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db

# Misc
*.log
